
h1{
    text-align: center;
    font-style: Neue Haas Grotesk ;
    font-weight: bold;
    font-size: 6ch;
    color: rgb(174, 59, 51);
}


table {
    border: 2px solid slategray;
    border-radius: 10px;}

td {
    border: 2px solid none;
    border-radius: 10px;
}

tr:nth-child(even) { 
    border-radius: 10px;
    background-color: rgb(153, 192, 249); 
    } 

 tr:nth-child(odd) { 
    border-radius: 10px;
    background-color: rgb(240, 232, 241);  
 } 


img {
    border-radius:10%;} 

.cuadrado{
    text-align:center;
}

.fila1 {
    text-align: center;
    font-style: italic;
}

.fila2 {
    text-align: center;
    font-style: times new roman;
}

.col1,.col3,.col5,.col2,.col4  {
    padding: 10px;
}


td:hover {
    background-color: rgba(115, 115, 115, 0.824);
}

input{
    display: table-cell;
    margin: 5px;
}

input:invalid{
    border: 2px solid rgb(169, 45, 45);
}

.forms{
    align-self: center;
    background-color: rgb(218, 209, 225);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #888888;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
}



input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2.5px rgba(85, 41, 156, 0.715);
}


button, #boton{  
    margin: 10px;
    background-color: #9a69a5;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #888888;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}





